<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebProdavnica</display-name>
  <welcome-file-list>
    <welcome-file>LoginForm.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUserServlet</display-name>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>servlet.LoginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/LoginUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home.jsp</servlet-name>
    <jsp-file>/Home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home.jsp</servlet-name>
    <url-pattern>/Home.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddKorisnikServlet</display-name>
    <servlet-name>AddKorisnikServlet</servlet-name>
    <servlet-class>servlet.AddKorisnikServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddKorisnikServlet</servlet-name>
    <url-pattern>/AddKorisnikServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUserServlet</display-name>
    <servlet-name>RemoveUserServlet</servlet-name>
    <servlet-class>servlet.RemoveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserServlet</servlet-name>
    <url-pattern>/RemoveUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddKategorijaServlet</display-name>
    <servlet-name>AddKategorijaServlet</servlet-name>
    <servlet-class>servlet.AddKategorijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddKategorijaServlet</servlet-name>
    <url-pattern>/AddKategorijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteKategorijaServlet</display-name>
    <servlet-name>DeleteKategorijaServlet</servlet-name>
    <servlet-class>servlet.DeleteKategorijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteKategorijaServlet</servlet-name>
    <url-pattern>/DeleteKategorijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditKategorijaServlet</display-name>
    <servlet-name>EditKategorijaServlet</servlet-name>
    <servlet-class>servlet.EditKategorijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditKategorijaServlet</servlet-name>
    <url-pattern>/EditKategorijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDodatnaUsluga</display-name>
    <servlet-name>AddDodatnaUsluga</servlet-name>
    <servlet-class>servlet.AddDodatnaUsluga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDodatnaUsluga</servlet-name>
    <url-pattern>/AddDodatnaUsluga</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDodatnaUsluga</display-name>
    <servlet-name>EditDodatnaUsluga</servlet-name>
    <servlet-class>servlet.EditDodatnaUsluga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDodatnaUsluga</servlet-name>
    <url-pattern>/EditDodatnaUsluga</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveDodatnaUsluga</display-name>
    <servlet-name>RemoveDodatnaUsluga</servlet-name>
    <servlet-class>servlet.RemoveDodatnaUsluga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveDodatnaUsluga</servlet-name>
    <url-pattern>/RemoveDodatnaUsluga</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNamestaj</display-name>
    <servlet-name>AddNamestaj</servlet-name>
    <servlet-class>servlet.AddNamestaj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNamestaj</servlet-name>
    <url-pattern>/AddNamestaj</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>EditNamestaj</display-name>
    <servlet-name>EditNamestaj</servlet-name>
    <servlet-class>servlet.EditNamestaj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNamestaj</servlet-name>
    <url-pattern>/EditNamestaj</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>RemoveNamestaj</display-name>
    <servlet-name>RemoveNamestaj</servlet-name>
    <servlet-class>servlet.RemoveNamestaj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveNamestaj</servlet-name>
    <url-pattern>/RemoveNamestaj</url-pattern>
  </servlet-mapping>
</web-app>